.set-box-size {
  min-height: 500px;
  width: 750px;
}

.set-image-size {
  /* height: 100%; */
  height: 500px;
  /* min-height: 500px;
  max-height: 500px; */
  /* width: 100%; */
}

.card-review-backside {
  padding-top: 250px;
  font-size: 100px;
  font-weight: bold;
}