.card-index {
    padding: 20px;
    /* background-color: #02a091; */
}

.card-index-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cardbox-card {
    padding: 15px;
}

.cardbox-card-backside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100px;
    width: 100px;
}

.cardbox-image {
    height: 100px;
    width: 100px;
}

.card-index-cards {
    display: flex;
    flex-wrap: wrap;
}

/* .card-index-cards:nth-child(6) {
    grid
} */