.cardbox-card {
    padding: 15px;
}

.cardbox-image {
    height: 100px;
    width: 100px;
}

.card-index-cards {
    display: flex;
    flex-wrap: wrap;
}

/* .card-index-cards:nth-child(6) {
    grid
} */